{% extends 'base.html' %}

{% block title %}Cancel Booking{% endblock %}

{% block content %}
<div class="container-cancel text-center mb-5">
    <h1>Cancel Booking</h1>
    <p class="mt-3">Are you sure you want to cancel this appointment?</p>
    <form method="POST" class="mt-4">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger mr-2">Cancel Appointment</button>
        <a href="{% url 'manage-bookings' %}" class="btn btn-primary">Back to Manage Bookings</a>
    </form>
</div>

{% endblock %}

{% block styles %}

<style>
    .container-cancel {
        max-width: 500px;
        margin: auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
        color: #333;
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        color: #666;
        font-size: 18px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
        color: white;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #004085;
    }

    .btn-danger {
        background-color: #dc3545;
        border-color: #dc3545;
        color: white;
    }

    .btn-danger:hover {
        background-color: #c82333;
        border-color: #bd2130;
    }
</style>
{% endblock %}
