{% extends 'base.html' %}

{% block title %}Booking Page{% endblock %}

{% block content %}
<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-title">Welcome to the Booking Page!</h1>
                </div>
                <div class="card-body">
                    {% if booking_not_available %}
                        <div class="alert alert-danger" role="alert">
                            This booking is not available at this day and time. Please select another time.
                        </div>
                    {% endif %}
                    <form method="POST" action="{% url 'booking-page' %}">
                        {% csrf_token %}
                        {% if form %}
                            {% for field in form %}
                                <div class="form-group m-2">
                                    {{ field.label_tag }}
                                    {{ field }}
                                    {% if field.help_text %}
                                        <small class="form-text text-muted">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <div class="invalid-feedback d-block">{{ error }}</div>
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No form data available</p>
                        {% endif %}
                        <button type="submit" class="btn btn-primary">Book Appointment</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
