{% extends 'base.html' %}
{% load static %}

{% block head_title %}
Services and Prices
{% endblock %}

{% block content %}

    <div class="container mb-5">
        <h2 class="text-center">Price List</h2>
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col" class="service-col">Service</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody class="service-table">
                    {% for cut_type in cut_types %}
                    <tr>
                        <td class="service-col">{{ cut_type.name }}</td>
                        <td>£{{ cut_type.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <button type="button" class="btn btn-primary me-2">
                <a class="text-white" href="{% url 'booking-page' %}">BOOK NOW</a>
            </button>
            <button type="button" class="btn btn-secondary">
                <a class="text-white" href="{% url 'contact_us-page' %}">CONTACT US</a>
            </button>
        </div>
    </div>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    thead {
    background-color: #4891db; /* Change to your desired background color */
    color: white; /* Change to your desired text color */
}

    .service-col {
        width: 80%; /* Adjust this value as needed */
    }

    h2 {
        color: #edeaea;
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 30px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    th, td {
        padding: 15px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        font-size: 20px;
        font-weight: 600;
        color: white;
    }

    td {
        font-size: 14px;
        font-weight: 400;
    }

    .btn-primary, .btn-secondary {
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .btn-primary a, .btn-secondary a {
        color: #fff;
        text-decoration: none;
    }

    .btn-primary a:hover, .btn-secondary a:hover {
        text-decoration: none;
    }

    .table-responsive {
        margin-top: 20px;
    }

    .d-flex {
        margin-top: 40px;
    }

    /* Media queries for responsiveness */
    @media (max-width: 768px) {
        th, td {
            padding: 10px;
        }

        .btn-primary, .btn-secondary {
            font-size: 14px;
            padding: 8px 15px;
        }
    }

    @media (max-width: 576px) {
        th, td {
            padding: 8px;
        }

        th {
            font-size: 14px;
        }

        .btn-primary, .btn-secondary {
            font-size: 12px;
            padding: 6px 10px;
        }
    }
</style>
{% endblock %}
