body {
    background-color: black;
    color: aliceblue;
}
.social-icons a {
    color: #fff;
    font-size: 24px;
    transition: color 0.3s;
}

.social-icons a:hover {
    color: #74C0FC;
}

footer .list-unstyled {
    list-style: none;
    padding: 0;
}

footer .list-unstyled li {
    margin-bottom: 10px;
}